{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="header">
    <a href="#" id="logo"><img src="{% static 'images/logo.jpg' %}" alt="HostHarbor Logo"></a>
    <nav class="navbar">
        <a href="{% url 'home' %}">home</a>
        <a href="{% static   'bookings.html' %}">bookings</a>
        <a href="search">search</a>
        <a href="{% static 'contact.html' %}">contact</a>
    </nav>
    <div class="inline">
        {% if user.is_authenticated %}
        
        <H3 style="font-size:18px;
        padding:10px;">Hello {{user.first_name}}</li>
        <button id="sign"><a href="{% url 'logout' %}" style="color:white;text-decoration:none">LogOut</a></button>
        {% else %}  
        
    <button id="sign"><a href="{% url 'register_page' %}" style="color:white;">Sign Up</button>
        {% endif %}
        
    </div>
</header>
    
<div class="main-background" style="background: url('{% static "images/bgimg.webp" %}') no-repeat center center; background-size: cover; height: 100vh; display: flex; justify-content: center; align-items: center;">
    {% if messages %}
                <div>
                    {% for message in messages %}
                        <div style="border: 1px solid #ccc;
                        color:black;
                        font-size:15px; padding: 10px; background-color: #f9f9f9; margin-bottom: 15px;">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
                
        {% endif %}
    <div class="book-section">
        <div class="inner-book">
            <span>From</span>
            <input type="date">
            <span>To</span>
            <input type="date">
            <label for="languages" style="font-size:20px;padding:10px ;color:white;">Amenities</label>
            <select class="form-control" multiple style="width:130px ">
              <option value="">Choose</option>
              {% for i in amenities_obj %}
              <option value="{{i.amenity_name}}">{{i.amenity_name}}</option>
              {% endfor %}
             
            </select>
            <input type="text" placeholder="Choose no. of rooms" style="margin:10px">
            
            <div class="book-btn">
                <a href="search" style=" text-decoration: none;">Book Now</a>
            </div>
        </div>
    </div>
</div>

<div class="award-winning-hotel">
    <h1>Available in Multiple Cities</h1>
    <div class="main-hotel">
        <div class="inner-award">
            <img src="{% static 'images/mumbai.webp' %}" alt="Mumbai">
            <h2>Mumbai</h2>
        </div>
        <div class="inner-award">
            <img src="{% static 'images/pun.jpg' %}" alt="Pune">
            <h2>Pune</h2>
        </div>
        <!-- Repeat for other cities -->
    </div>
</div>

<div class="separation"></div>
<footer>
    <div class="que">Questions? Call 000-800-919-1694</div>
    <div class="footer">
        <!-- Footer Content -->
    </div>
</footer>
<script src="{% static 'lodg.js' %}"></script>
{% endblock %}
