:root{
    --maincolor:#0000ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear; 
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
}

html{
    font-size: 62.5%;
}

.header{
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    opacity: 1;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 .5rem .5rem rgba(10, 10, 10, 0.1);

}
.header #logo img{
    width: 65px;
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: var(--maincolor);   
}

.header .navbar a:hover{
   color: orangered;px
}

.inline{
    display: flex;
}

.btn{
    
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
    padding: 9px 20px 9px 20px;
    font-size: 13px;
border-radius: 4px;
background-color: rgba(29, 12, 104, 0.7);
border: 1px solid rgba(218, 208, 208, 0.3);
}

.drop a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0px 9px 0px 8px;
}

.drop .content{
    display: none;
    position: absolute;
    cursor: pointer;
    padding: 9px 20px 9px 20px;
    margin-left: 2rem;
    font-size: 13px;
border-radius: 4px;
background-color: rgba(29, 12, 104, 0.7);
border: 1px solid rgba(218, 208, 208, 0.3);
}

.drop:hover .content{
    display: block;
}
.sm{
    background-color: rgba(29, 12, 104, 0.7);
    color: white;
    cursor: pointer;
    padding: 7px 17px 7px 17px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    }

 .header button:hover{
        color: orangered;
      }

      .bgimage{
        background-image: url(images/bgimg.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.8;
        z-index: -1;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: white;
        margin: 0;
    }
    .sign-in-form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    .sign-in-form h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    .sign-in-form label {
        display: block;
        margin-bottom: 5px;
        font-size: 2rem;
    }
    .sign-in-form input[type="text"],
    .sign-in-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .sign-in-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .sign-in-form input[type="submit"]:hover {
        background-color: #0056b3;
    }
